body{
    background-color: rgb(245, 233, 215) !important;
    
}

/* header styles */

.navbar {
    background-color: rgb(245, 233, 215) !important;
    box-shadow: 0px 10px 10px rgb(202, 190, 171);
    z-index: 1000;
}

aside {
    width: 15%;
    padding: 25px;
    padding-right: 0px;
    box-shadow: 10px 10px 10px rgb(202, 190, 171);
    z-index: 500;
}

main {
    padding: 25px;
    width: 85%;
    background: rgb(245, 242, 242);
}

.todolist-list {
    background-color: rgb(245, 242, 242) !important;
}

.inline-form {
    display: inline !important;
}

.inline-input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 38px;
}

footer {
    box-shadow: 0px -10px 10px rgb(202, 190, 171);
}
