{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-sm d-flex justify-content-center align-items-center" style="height: 30rem;">
    <div class="card text-bg-light border border-2 border-black rounded">
        <div class="card-body">
            <h4 class="card-title">Login to your account:</h4>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
