{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid container-sm text-bg-light border border-black rounded p-3 mb-3">
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update your info:</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock %}
